#countdown {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    color: white;
    text-align: center;
    overflow: hidden;
    cursor: default;
}

.container {
    display: flex;
    align-items: center;
}

.col {
    flex: 1;
}

.overlay-button {
    color: grey;
}